.Dish {
  border: rgba(0,0,0,0.1) 1px solid;
  padding: 5px 10px;
  position: initial;
  min-width: 225px;
  max-width: 225px;
  max-height: 400px;
  height: 300px;
  border-radius: 3px;
  margin: 10px 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.Dish-title {
    color: #1c313a;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    transform: translateY(50%);
}

.Dish-image {
  max-width: 100%;
  height: 150px;
  background-size: cover;
}

.Dish button {
  background-color: #1c313a;
  border-color: #1c313a;
  color: white;
}

.Dish button:hover {
  color: #fff;
  background-color: #455a64;
  border-color: #455a64;
}